<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title >Digital Soul</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="bootstrap.bundle.min.js" ></script>
    <script src="popper.min.js" ></script>
    <script src="bootstrap.min.js" ></script>
 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand fs-2" href="#">
          <img src="launcher_icon.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top rounded-circle">
  
          DigitalSoul</a>
      </div>
    </nav>
    <div class="m-5">

    </div>

    <div id="mainBody mt-5">
      <div class="d-flex justify-content-around m-5">
        <div class="d-flex flex-column justify-content-center col-6">
          <div class="fs-1">Digital Soul</div>
          <div>DigitalSoul is a mental health app being developed by our program that provides acute psychiatric patients with the opportunity to integrate spirituality into their treatment.
          </div>
        </div>
        <div class="d-flex justify-content-center col-6">
          <iframe width="540" height="360" class="rounded"
          frame-src="https://www.youtube.com/"
          src="https://www.youtube.com/watch?v=M5QY2_8704o"
           >
          </iframe>
        </div>
      </div>


      <div class="d-flex flex-column justify-content-center align-items-center m-3">
        <div class="fs-2 my-5 fw-bold">Meet our Team</div>

        <div class="mx-3 my-2 ">

          <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner ">
              <div class="carousel-item active ">
                <div class="d-flex">
                  <img src="launcher_icon.png" class="d-block col-3 mx-5 my-3" alt="...">
                  <div class="d-flex flex-column">
                    <div class="fs-3">Dr. David H. Rosmarin</div>
                    <div class="fs-4">PhD</div>
                    <p class="me-4">Dr. Rosmarin (pronouns: he/him), is the director of the Spirituality and Mental Health Program at McLean Hospital and an associate professor of psychology in the Department of Psychiatry at Harvard Medical School. Dr. Rosmarin’s program of research examines the relevance of spiritual/religious issues to psychopathology and its treatment. He has published over 100 manuscripts, editorials, and chapters, and served as co-editor of the Handbook of Spirituality, Religion and Mental Health.</p>
                  </div>

                </div>
              </div>
              <div class="carousel-item ">
                <div class="d-flex">
                  <img src="launcher_icon.png" class="d-block col-3 mx-5 my-3" alt="...">
                  <div class="d-flex flex-column">
                    <div class="fs-3">Sean Adam Minns</div>
                    <div class="fs-4 ">MA</div>
                  <p class="">Sean (pronouns: he/him) is a senior clinical research assistant in the Spirituality & Mental Health and Program at McLean Hospital. Sean combines art, science and technology to provide more accessible and culturally sensitive psychosocial treatment for behavioral health. In the Spirituality & Mental Health Program, he oversees the development and testing of the new DigitalSoul smartphone app, and assists with developing a video-based training course in Spiritua</p>  
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev text-dark " type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex m-3 flex-column justify-content-center align-items-center">
        <div class="fs-2 mb-5 fw-bold">Development Team</div>
        <div class="row mb-5 justify-content-center align-items-center">
          <div class="card m-2" style="width: 18rem;">
            <img src="launcher_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Dhrumil Thakore</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img src="launcher_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Himanshu Harlalka</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img src="launcher_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Rushank Shah</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img src="launcher_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Tanmai Kamat</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img src="launcher_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ayush Shah</p>
            </div>
          </div>
          
          <div class="card m-2" style="width: 18rem;">
            <img src="launcher_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Jash Shah</p>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img src="launcher_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Yash Shah</p>
            </div>
          </div>
        </div>
        
      </div>
    <footer id="footer" class="bg-dark d-flex justify-content-around py-3">
     <div> <a href="https://digitalsoulmclean.com/privacyPolicy" class="m-3 fs-5 decoration-none">Privacy Policy</a>
     </div>
      <div class="text-light fs-5">Contact :  <a href="mailto:s.a.minns@gmail.com" class="m-3 fs-5 decoration-none">s.a.minns@gmail.com</a></div>
    </div>

    </footer>






 </body>
</html>